/*------------------------------------------------*/
/*-----------------[FOOTER]-----------------------*/
/*------------------------------------------------*/


/* =Footer
----------------------------------------------- */

.footer {
	overflow: hidden; 
	white-space: nowrap;
	clear: both;
	display: block;
	max-width: 100%;
	margin: 0 auto;
	background: $footer-bg;

	.wrapper {
		width: $desktop-width;
		display: block;
		margin: 0 auto;

		.bloque {
			float: left;
			width: 30%;
			background: $block-bg-color1;

			p {
				color: $text-sub-color2;
				font-weight: bold;
				font-size: 1.5rem;
				margin: 0;
				padding-top: 1rem;
			}

			.pais {

				h3 {
					margin: 0;
					font-weight: bold;
					font-size: 1rem;
					color: $text-sub-color2;
					padding: .5rem 0;
				}

				p {
					font-size: 1rem;
					font-weight: normal;
					padding: 0;

					i {
						color: $text-sub-color2;
					}

					span {
						background: $block-bg-color3;
						border-radius: 50%;
						width: 28px;
						height: 28px;
						display: inline-block;
						font-weight: bold;
						font-size: .8rem;
						text-align: center;
						color: $text-color;
						padding-top: 3px;
					}
				}
			}

			.boton {
				display: block;
				width: 70%;
				margin: 0 auto;
				padding: 1rem 0;
				color: $text-sub-color1;
				border-right: 1px black solid;
				border-bottom: 1px black solid;
				margin-bottom: 1rem;
				font-size: .8rem;
				padding-left: 1rem;
			}

			.icon {
				display: block;
				font-size: 1.5rem;
				margin: 1rem auto 1rem auto;
				background: $block-bg-color2;
				width: 35px;
				height: 35px;
				border-radius: 50%;
				color: $text-color;

				i {
					margin-top: 5px;
				}
			}
		}

		.bloque:first-child {
			width: 40%;
		}

		.bloque:nth-child(2n+2) {
			padding: 0 1rem 1rem 1rem; 
			background: $block-hover-color;
		}

		.bloque:nth-child(2n+3) {
			text-align: center;
		}
	}

	/* Firma SH  */
	a.firma-sh  {	 
		background-image: url(images/dev-by-soluciones-hipermedia.png);
		background-repeat: no-repeat;
		background-size: 30px 60px;
		padding-left: 30px;
		float: right;
		color: #7A7A7A;
		text-decoration: none;
		font-size: 1rem;
		height: 30px;
		line-height: 30px;
		margin: .5rem 1rem 1rem;
		
		&:hover {	color: #333;	background-position: 0 bottom;  }
	}
		
	
}




